<div #extensionsErrorModal>
    <div class="modal-body text-center">
      <h1>Your file contains extensions not allowed.</h1>
      <p>Please adjust your file to contain only: <br />
        <!-- <span class="text-primary" *ngFor="let extension of storeLitePresentation.loggedUser.allowedAssetsFilesTypesList">{{extension}} </span> -->
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mr-auto" (click)="bsModalRef.hide()">Back to Store</button>
      <button type="button" class="btn btn-primary" (click)="bsModalRef.hide();">Select files again</button>
    </div>
  </div>
