<div class="card store-card shadow-card card-grey text-center">

  <div [hidden]="showProgressBar" class="card-body card-block-content">
    <div class="card-text-primary" i18n="">
      Please ensure your upload file contains only one product group at a time.
    </div>
    <div class="card-text-tertiary">
      You can select up to 5 files per upload
    </div>
    <br />
    <div>
      <button #uploadBtn type="button" class="btn btn-primary storeBtn btnUpload" (click)="openFileUploadModal(fileUploadModal)">
        &nbsp;Upload
      </button>
    </div>
  </div>

  <div [hidden]="!showProgressBar" class="card-body card-block-content">
    <progressbar [value]="50"></progressbar>
    <h1>Your files are uploading!</h1>
    <p>You can view your progress and next actions from the navigation bar at the top.</p>
  </div>

</div>

<ng-template #fileUploadModal >
    <div class="modal-header">
        <h1 class="modal-title" id="fileUploadModalTitle">Upload Files</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fileUploadModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="fileUploadForm">
          <div class="modal-body" style="display: flex">
            <div style="width: 100%;">Please select how these files will be linked</div>

              <app-radio-button-image-text [data]="data" formControlName="linked"></app-radio-button-image-text>
              <input #assets type="file" formControlName="assets" (change)="handleAssets(assets.files)" multiple style="display:none"/>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-auto" (click)="fileUploadModalRef.hide()">Cancel Upload</button>
            <button type="button" class="btn btn-primary" (click)="assets.click()" [disabled]="myLinkedControl.invalid">Continue Upload</button>
          </div>
        </form>
</ng-template>
