<div class="card store-card shadow-card card-grey text-center">

  <div [hidden]="showProgressBar" class="card-body card-block-content">
    <div class="card-text-primary" i18n="">
      Please ensure your upload file contains only one product group at a time.
    </div>
    <div class="card-text-tertiary">
      You can select up to 5 files per upload
    </div>
    <br />
    <div>
      <button #uploadBtn type="button" class="btn btn-primary storeBtn btnUpload" (click)="openFileUploadModal(fileUploadModal)">
        &nbsp;Upload
      </button>
    </div>
  </div>

  <div [hidden]="!showProgressBar" class="card-body card-block-content">
    <progressbar [value]="50"></progressbar>
    <h1>Your files are uploading!</h1>
    <p>You can view your progress and next actions from the navigation bar at the top.</p>
  </div>

</div>

<ng-template #fileUploadModal >
    <div class="modal-header">
        <h1 class="modal-title" id="fileUploadModalTitle">Upload Files</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fileUploadModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="fileUploadForm">
          <div class="modal-body" style="display: flex">
            <div style="width: 100%;">Please select how these files will be linked</div>
            <div style="width: 100%; display: flex; justify-content: flex-end">

                <div>
                    <input type="radio" id="partNumberBtn" name="linked" value="partNumber" formControlName="linked" style="display:none" />
                    <label for="partNumberBtn" class="radioButtonLabel">
                      <svg class="genericIcon">
                        <use href="./assets/icons/iconVehicles.svg#iconVehicles"></use>
                      </svg>
                      <br />
                      By Part Number
                    </label>
                  </div>

                  <div>
                      <input type="radio" id="applicationBtn" name="linked" value="application" formControlName="linked" style="display:none" />
                      <label for="applicationBtn" class="radioButtonLabel">
                        <svg class="genericIcon">
                          <use href="./assets/icons/iconCatalogue.svg#iconCatalogue"></use>
                        </svg>
                        <br />
                        By Catalogue Application
                      </label>
                    </div>

                  <input #assets type="file" formControlName="assets" (change)="handleAssets(assets.files)" multiple style="display:none"/>

                    <!-- <app-radio-button-image-text [iconUrl]="'./assets/icons/iconVehicles.svg#iconVehicles'"
                    [id]="'partNumberBtn'"
                    [value]="'partNumber'"
                    [name]="'linked'"
                    [text]="'By Part Number'"
                    [parentForm]="fileUploadForm"></app-radio-button-image-text>

                    <app-radio-button-image-text [iconUrl]="'./assets/icons/iconCatalogue.svg#iconCatalogue'"
                    [id]="'applicationBtn'"
                    [value]="'application'"
                    [name]="'linked'"
                    [text]="'By Catalogue Application'"
                    [parentForm]="fileUploadForm"></app-radio-button-image-text> -->

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary mr-auto" (click)="fileUploadModalRef.hide()">Cancel Upload</button>
            <button type="button" class="btn btn-primary" (click)="assets.click()" [disabled]="myLinkedControl.invalid">Continue Upload</button>
          </div>
        </form>
</ng-template>

<ng-template #maxFilesErrorModal>
  <div class="modal-body text-center">
    <h1>Your file contains more than 5 assets.</h1>
    <p>Please adjust your file to only 5. <br />
    Alternatively, to upgrade to Pro and unlimited uploads <br /> please contact your Account manager.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-auto" (click)="maxFilesErrorModalRef.hide()">Back to Store</button>
    <button type="button" class="btn btn-primary" (click)="maxFilesErrorModalRef.hide(); uploadBtn.click();">Select files again</button>
  </div>
</ng-template>

<ng-template #extensionsErrorModal>
  <div class="modal-body text-center">
    <h1>Your file contains extensions not allowed.</h1>
    <p>Please adjust your file to contain only: <br />
      <span class="text-primary" *ngFor="let extension of storeLitePresentation.loggedUser.allowedAssetsFilesTypesList">{{extension}} </span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-auto" (click)="extensionsErrorModalRef.hide()">Back to Store</button>
    <button type="button" class="btn btn-primary" (click)="extensionsErrorModalRef.hide(); uploadBtn.click();">Select files again</button>
  </div>
</ng-template>
