/* You can add global styles to this file, and also import other style files */

/* app-all is on the shared folder root/shared/styles, angular.jason includes this option to grab those styles stylePreprocessorOptions */
@import 'app-all';

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  height: 100vh; // expand body to use all the vertical space
  font-family: $font-family-base;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  color: $once-gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1.dash {
  margin-bottom: 0;
  font-size: 45px;
  color: $once-gray;
  margin-top: 10px;
}



h3 {
  color: $once-gray;
}

h5 {
  color: $once-gray;
  font-size: 11px;
	font-weight: 600;
}

.storeContainer {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.store-card{
  margin-bottom: 20px;
  border: 0px;
  //padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.shadow-card{
  padding: 20px 50px;
}

.card-body-flex {
  display: flex;
  flex-direction: column;
}

.card-block-header {
  font-size: 15px;
  font-weight: 600;
}

.card-block-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
}

.card-grey {box-shadow: inset 0px 0px 0px 20px #dcddde}

.card-text-primary {font-weight: bold; font-size: 20px; color: $once-gray; letter-spacing: 0px;}
.card-text-secondary {font-weight: bold; font-size: 18px; color: #58585a; letter-spacing: 0px;}
.card-text-tertiary {font-size: 14px; color: #B2B2B2; letter-spacing: 0px; font-weight: normal;}

.btnUpload:before {
  content: url(../../../shared/assets/icons/iconUpload.svg);
  display: inline-block;
  margin-top: -5px;
  padding-right: 3px;
}

.btn {
  border: 0px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  padding: 8px 7px;
}

a.btn {
  text-decoration: none !important;
}

.btn-primary:hover{
  background-color: $primary-hover;
}

.btn-secondary:hover{
  background-color: #717171;
  //color: black;
}

.progress {
  border-radius: 0.50rem;
  margin-bottom: 1rem;
}

.progress-bar {
  border-radius: 0.50rem;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.fill-primary {
  fill: $primary;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  color: $primary-hover;
}

.cursor-pointer {
  cursor: pointer;
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
 .dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: $primary;
  color: $primary;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: $primary;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
