<div class="container storeContainer">
  <div class="row">
    <div class="col">
      <h1 class="dash">Store</h1>
      <p>Upload any electronic file</p>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">

      <div class="card store-card text-center" >
        <div class="card-body card-body-flex">
          <div class="card-block-header">Store Stats</div>
          <div class="card-block-content">
            <app-stats></app-stats>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">

      <div class="card store-card text-center">
        <div class="card-body card-body-flex">
          <div class="card-block-header">Storage</div>
          <div class="card-block-content">
            <app-storage></app-storage>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">

      <app-file-upload></app-file-upload>

    </div>
    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">
      <div class="card store-card text-center">
        <div class="card-body">
          <app-upgrade></app-upgrade>
        </div>
      </div>
    </div>
  </div>
</div>
