<div class="container storeContainer">
  <div class="row">
    <div class="col">
      <h1 class="dash">{{ 'storeLite.home.title' | translate }}</h1>
      <p>{{ 'storeLite.home.subTitle' | translate }}</p>
    </div>
    <div>
      <button class="btn btn-default" (click)="setLang('es')">Language: ES</button>
      <button class="btn btn-default" (click)="setLang('en')">Language: EN</button>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">

      <div class="card store-card text-center" >
        <div class="card-body card-body-flex">
          <div class="card-block-header">{{ 'storeLite.home.storeStats.title' | translate }}</div>
          <div class="card-block-content">
            <app-stats style="width: 100%;"></app-stats>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">

      <div class="card store-card text-center">
        <div class="card-body card-body-flex">
          <div class="card-block-header">{{ 'storeLite.home.storage.title' | translate }}</div>
          <div class="card-block-content">
            <app-storage style="width: 100%;"></app-storage>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">

      <app-file-upload></app-file-upload>

    </div>
    <div class="col-sm-6" style="padding: 0px 10px 0px 10px">
      <div class="card store-card text-center">
        <div class="card-body">
          <app-upgrade></app-upgrade>
        </div>
      </div>
    </div>
  </div>
</div>
