<div class="container">
  <div class="row">
    <div class="col-7">
        <dx-bar-gauge id="gauge"
        [startValue]="0"
        [endValue]="100"
        [values]="seriesValues"
        [palette]="seriesPalette">
      <dxo-size [height]="175"></dxo-size>
      <dxo-label [visible]="false" [indent]="10" [customizeText]="customizeText">
      </dxo-label>
    </dx-bar-gauge>
    </div>
    <div class="col-5">

      <div *ngFor="let serie of seriesList" style="text-align: left; margin-bottom: 10px;">
        <ng-template #popupContent><div [innerHtml]="serie.tooltipText"></div></ng-template>
        <span [ngStyle]="{'font-size': '25px', 'color': serie.serieColor}" class="cursor-pointer no-select"
        [popover]="popupContent" triggers="mouseenter:mouseleave"
        placement="right" container="body" containerClass="popUpCustom">{{serie.value | number}}</span>
        <br />
        <span [ngStyle]="{'font-size': '11px', 'color': serie.serieColor}">{{serie.labelText}}</span>
      </div>

    </div>
  </div>
</div>
