<ng-container *ngIf="this.stats" style="display: flex;">

  <div style="display: flex;">

    <app-basic-stat class="basic-stat"
      [number]="stats.unlinkedAssets"
      [text]="textForUnlinked"
      [viewUrl]="'#'">
    </app-basic-stat>

    <app-basic-stat class="basic-stat"
      [number]="stats.unresolvedConflicts"
      [text]="textForUnresolved"
      [iconUrl]="'./assets/icons/red-warning-triangle.png'"
      [viewUrl]="'#'">
    </app-basic-stat>

    <app-basic-stat class="basic-stat"
      [number]="stats.tooSmallImages"
      [text]="textForTooSmall"
      [viewUrl]="'#'">
    </app-basic-stat>

  </div>

</ng-container>

<ng-container *ngIf="this.showLoading">
  <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="this.showError">
  <app-component-error [text]="errorText" (tryAgainEmitter)="reloadStats();"></app-component-error>
</ng-container>
